# OS Metadata
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fseventsd

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.project
.settings/

# Dependencies
node_modules/
bower_components/

# Build and Dist
dist/
build/
out/
.parcel-cache/
.cache/

# Logs and Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
